// menu
$menu_width: 250px;
$menu_background: rgba(255, 255, 255, 0.9);

// colors
$white: #ffffff;
$black: #000000;

$main_light: #e6f3f9;
$main: #92cae0;
$main_dark: #7badc1;

$red: #c0392b;

$dark_grey: #3d4440;
$grey: #bdc3c7;
$lighter_grey: #707371;
$medium_grey: #ccc;
$light_grey: #eee;
$extra_light_grey: #f7f7f7;