@import url("https://fonts.googleapis.com/css?family=Lobster:300,400,600");
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: $extra_light_grey;

	* {
		letter-spacing: 1px;
	}
}

form.flex-container {
	input, select, button {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: $white;
}

button {
	outline: none !important;
}

.panel-default {
	border-color: $dark_grey;
	margin-top: 30px;

	& > .panel-heading {
		background-color: $dark_grey;
		color: $main;
	}
}

.nav-pills {
	border-bottom: 2px solid $main_dark;

	li {
		margin: 0 !important;

		button {
			border-radius: 0;
			border-width: 2px;
			border-bottom: none;
			color: $dark_grey;
			cursor: pointer;

			&.active {
				border-color: $main_dark !important;
				background-color: $main_dark !important;
			}
		}

		&:first-child {
			button {
				border-top-left-radius: 2px;
				border-right: 0;
			}
		}

		& + li {
			button {
				border-top-right-radius: 4px;
				border-left: 0;
			}
		}
	}
}

.navbar-default {
	background-color: $grey;

	.navbar-header {
		a {
			color: $lighter_grey;
		}
	}
}

.btn-primary {
	background-color: $main;
	border: 2px solid $dark_grey !important;
	color: $dark_grey !important;
	font-size: 14px;
	border-radius: 3px;

	&:hover, &:active, &:focus {
		background-color: $main_dark;		
	}
}

.btn-link {
	color: $main;

	&:hover, &:active, &:focus {
		color: $main_dark;
	}
}

.front-select {
	background-color: $white;
	color: $dark_grey;
	border: 2px solid #bdc3c7;
	outline: none;
	font-family: Lobster;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 10px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
 	padding: 5px 30px 5px 10px;
 	border-radius: 0;

 	background-image: url(../img/arrow-down.png);
 	background-size: 25px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
    -webkit-text-fill-color: $black !important;
}

legend {
	font-family: Lobster;
	color: $main_dark;
	border-color: $main_dark;
	border-width: 3px;
	font-size: 24px;

	button {
		float: right;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    margin-top: -5px;
	}
}

.highcharts-container  {
	margin: auto;
	max-width: 100%;
}

.full-page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.page-content {
	width: calc(100% - $menu_width);
	margin-left: $menu_width;
	padding: 50px;
}

input[type=color] {
	min-width: 42px !important;
}

tbody.center,
thead.center {
	tr th,
	tr td {
		text-align: center;
	}
}

td.small {
	width: 125px;
}

.flex-container {
	display: flex;

	&.center {
		justify-content: center;
	}
}

.home {
	background-image: url(../img/kitchen.jpg);
	background-size: cover;
}

.menu {
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: $menu_background;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    overflow: hidden;
	width: $menu_width;
	border-right: 4px solid $dark_grey;
	overflow: visible;

    &.active { // active on home page
    	left: calc(50% - #{$menu_width + 150}/2);
		width: $menu_width + 150;
		border-left: 4px solid $dark_grey;
    }

	a {
		width: 100%;
		color: $main;
		padding: 20px;
		font-size: 22px;
		font-family: Lobster;
		text-align: center;
		text-decoration: none !important;
		transition: all 0.25s;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		position: relative;

		&:hover, &.active {
			color: $main;
			background-color: $dark_grey;
			border-color: $light_grey;

			& + a:hover,
			& + a.active {
				border-top-color: transparent;
			}
		}
	}

	&:not(.active) {
		a {
			&.active {
				&:after {
					content:"";
					display: block;
					
					width: 0px;
				    height: 0px;
				    border-top: 37px solid transparent;
				    border-bottom: 37px solid transparent;
				    border-left: 37px solid $dark_grey;
				    
				    position: absolute;
				    right: -40px;
				    top: calc(50% - 38px + 2px);
				}
			}
		}
	}
}

.blue-box {
	padding: 30px;
	border: 1px solid $main_dark;
	border-radius: 3px;
	background-color: $white;
	cursor: pointer;
}

.user-show {
	margin: 10px;
	position: relative;
	border-width: 2px;
	padding-bottom: 15px;

	.name {
		text-align: center;
		font-size: 18px;
		color: $main_dark;
		margin-bottom: 0;
	}

	.edit-label {
		opacity: 0;
		transition: opacity 0.2s;
		position: absolute;
		padding: 5px;
	    width: 100%;
	    left: 0;
	    top: 0;
		text-align: right;
	}

	&:hover{
		.edit-label {
			opacity: 1;
		}
	}

	.avatar {
		display: block;
		height: 100px;
		width: 100px;
		padding: 25px;
		margin: 10px auto 10px auto;
		border-radius: 100%;
		text-align: center;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.btn-delete,
	button[type=submit] {
		position: absolute;
		width: 100px;
	    left: calc(50% - 50px);
	}

	button[type=submit] {
		bottom: -40px;
	}

	.btn-delete {
	    top: -25px;
	}
}

.user-create {
	width: 300px;
	margin-top: 40px;
	background-color: $lighter_grey;
	border-color: transparent;

	input {
		margin-bottom: 10px;
	}
}

.btn-delete {
	background: none;
	border: none;
	color: red;
	font-family: Comic Sans Ms;
	font-size: 12px;
	outline: none !important;

	&:hover {
		color: $red;
	}
}

.table-striped {
	thead {
		tr {
			th {
				border-width: 3px;
				color: $dark_grey;
				border-color: $lighter_grey;
			}
		}
	}
}

table .btn-delete {
	margin-top: 0;
	margin-left: 0;
	float: none;
}

.table-selectable {
	tbody {
		tr:not(.active):hover {
			cursor: pointer;
		}

		tr:hover, tr.active {
			&, & td {
				background-color: $light_grey;
			}
		}

		tr {
			.on-non-active {
				display: block;
			}

			.on-active {
				display: none;
			}

			&.active {
				.on-active {
					display: block;
				}

				.on-non-active {
					display: none;
				}
			}
		}
	}
}